<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPUg92shud5NEdP1tAioxOGlkIyu7cqWk</string>
	<key>GCM_SENDER_ID</key>
	<string>384089401859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Allianceone</string>
	<key>PROJECT_ID</key>
	<string>allianceone-7b0fa</string>
	<key>STORAGE_BUCKET</key>
	<string>allianceone-7b0fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384089401859:ios:c3c1322b7f22260474bc36</string>
</dict>
</plist>